
@font-face {
    font-family: 'mangalregular';
    src: url('../fonts/mangal_regular-webfont.woff2') format('woff2'),
         url('../fonts/mangal_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mangalbold';
    src: url('../fonts/mangal_bold-webfont.woff2') format('woff2'),
         url('../fonts/mangal_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* end here */
/* font-family: 'DM Sans', sans-serif; */
/* 
* {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
 */
body {
    font-family: 'mangalregular', sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: 'mangalbold';
}

.igotAnalytics .recNo {
    font-family: 'mangalbold', sans-serif;

}
.igotAnalytics .recNo span{
    font-family: 'DM Sans', sans-serif;
}
.courseDetails .h6 {font-family: 'Montserrat', sans-serif;}
.igot-menu .navbar-nav .nav-item {
    padding: 0.625rem 1rem;
}